.wp-caption {
background-color: #17171a;
text-align: center;
border: 1px solid #2a2a2e;
	font-size: 0.90em;
	overflow: hidden;
	position: relative;

}

.wp-caption dd {
        color: #e6e4e0;
	background-color: #17171a;
	font-size: .9em;
	padding: 2px 8px 3px 8px;
	margin: 1px 0 0 0;
}

.wp-caption dt {
	margin: 0;
}

.wp-caption img {
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	z-index: 0;
}


.alignleft,
.alignright {
	margin-top: 4px;
}
.alignleft {
	float: left;
	margin-right: 20px;
	margin-bottom: 15px;
}
.alignright {
	float: right;
	margin-left: 20px;
	margin-bottom: 15px;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (max-width: 600px) {
	.alignleft,
	.alignright,
	.aligncenter {
		display: block;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
}
